system/*
data/photos_previews/*
data/photos_previews/!index.html
data/photos_thumbnails/*
data/photos_thumbnails/!index.html
data/music_covers/*
data/music_covers/!index.html
data/tmp/*
data/tmp/!index.html
data/upload/*
data/upload/!index.html
assets/third_party/*
assets/third_party/!index.html
application/config/config.php
application/config/database.php
application/logs/log-*.php
application/logs/!index.html
application/cache/*
application/cache/!index.html
application/cache/!.htaccess
application/cache/!.htaccess
application/cache/templates_c/*
application/cache/templates_c/!index.html
application/third_party/*
application/third_party/!index.html
application/views/templates_c/*
application/views/templates_c/!index.html